body {
  margin: 0;
  font-family: 'Signifier';
  min-width: 320px;
  background: #ffffff;
  color: #1a1612;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}